<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wxj.dao.DictionaryMapper" >
	<select id="selectDictionaryByKey" parameterType="String" resultType="com.wxj.domain.vo.KeyValueVo">
	SELECT A.ID keywords , a.descript value FROM dictionary A WHERE A.KEY = #{key}
	</select>
</mapper>