<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wxj.dao.EmployeeMapper" >
	<resultMap id="BaseResultMap" type="com.wxj.domain.entity.Employee">
		<result column="id" property="id" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="age" property="age" jdbcType="VARCHAR" />
		<result column="phone" property="phone" jdbcType="VARCHAR" />
		<result column="user_name" property="userName" jdbcType="VARCHAR" />
		<result column="password" property="password" jdbcType="VARCHAR" />
		<result column="salary_grade" property="salaryGrade" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="VARCHAR" />
		<result column="update_time" property="updateTime" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="BaseColumnList">
		id,name,age,phone,user_name,password,salary_grade,create_time,update_time
	</sql>
	<select id="selectEmployeeByPage" resultMap="BaseResultMap" parameterType="java.util.Map">
	select <include refid="BaseColumnList" /> from employee
		<where>
			<if test="id != null and id != ''">
				and id = #{id}
			</if>
			<if test="name != null and name != ''">
				and name  like '%'#{name}'%'
			</if>
			<if test="age != null and age != ''">
				and age = #{age}
			</if>
			<if test="phone != null and phone != ''">
				and phone = #{phone}
			</if>
			<if test="userName != null and userName != ''">
				and user_name = #{userName}
			</if>
			<if test="salaryGrade != null and salaryGrade != ''">
				and salary_grade = #{salaryGrade}
			</if>
			<if test="createTime != null and createTime != ''">
				and create_time = #{createTime}
			</if>
		</where>
		
		ORDER BY update_time DESC
		<if test="begin != null and begin != '' and pageSize != null and pageSize != ''">
			limit ${begin},${pageSize}
		</if>
	</select>
	<!-- 查询总条数 -->
	<select id="selectEmployeeCount" resultType="Integer" parameterType="java.util.Map">
		select COUNT(id) from employee
		<where>
			<if test="id != null and id != ''">
				and id = #{id}
			</if>
			<if test="name != null and name != ''">
				and name  like '%'#{name}'%'
			</if>
			<if test="age != null and age != ''">
				and age = #{age}
			</if>
			<if test="phone != null and phone != ''">
				and phone = #{phone}
			</if>
			<if test="userName != null and userName != ''">
				and user_name = #{userName}
			</if>
			<if test="salaryGrade != null and salaryGrade != ''">
				and salary_grade = #{salaryGrade}
			</if>
			<if test="createTime != null and createTime != ''">
				and create_time = #{createTime}
			</if>
		</where>
	</select>
	<select id="selectEmployee" resultMap="BaseResultMap"  parameterType="com.wxj.domain.entity.Employee" >
		select <include refid="BaseColumnList" /> from employee
		<where>
			<if test="id != null and id != ''">
				and id = #{id}
			</if>
			<if test="name != null and name != ''">
				and name = #{name}
			</if>
			<if test="age != null and age != ''">
				and age = #{age}
			</if>
			<if test="phone != null and phone != ''">
				and phone = #{phone}
			</if>
			<if test="userName != null and userName != ''">
				and user_name = #{userName}
			</if>
			<if test="password != null and password != ''">
				and password = #{password}
			</if>
			<if test="salaryGrade != null and salaryGrade != ''">
				and salary_grade = #{salaryGrade}
			</if>
			<if test="createTime != null and createTime != ''">
				and create_time = #{createTime}
			</if>
			<if test="updateTime != null and updateTime != ''">
				and update_time = #{updateTime}
			</if>
		</where>
	</select>
	<insert id="insertEmployee"  parameterType="com.wxj.domain.entity.Employee" >
		insert into employee
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null and id != ''">
				id,
			</if>
			<if test="name != null and name != ''">
				name,
			</if>
			<if test="age != null and age != ''">
				age,
			</if>
			<if test="phone != null and phone != ''">
				phone,
			</if>
			<if test="userName != null and userName != ''">
				user_name,
			</if>
			<if test="password != null and password != ''">
				password,
			</if>
			<if test="salaryGrade != null and salaryGrade != ''">
				salary_grade,
			</if>
			<if test="createTime != null and createTime != ''">
				create_time,
			</if>
			<if test="updateTime != null and updateTime != ''">
				update_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null and id != ''">
				#{id},
			</if>
			<if test="name != null and name != ''">
				#{name},
			</if>
			<if test="age != null and age != ''">
				#{age},
			</if>
			<if test="phone != null and phone != ''">
				#{phone},
			</if>
			<if test="userName != null and userName != ''">
				#{userName},
			</if>
			<if test="password != null and password != ''">
				#{password},
			</if>
			<if test="salaryGrade != null and salaryGrade != ''">
				#{salaryGrade},
			</if>
			<if test="createTime != null and createTime != ''">
				#{createTime},
			</if>
			<if test="updateTime != null and updateTime != ''">
				#{updateTime},
			</if>
		</trim>
	</insert>
	<delete id="deleteEmployee" parameterType="com.wxj.domain.entity.Employee" >
		delete from employee
		<where>
			<if test="id != null and id != ''">
				and id = #{id}
			</if>
			<if test="name != null and name != ''">
				and name = #{name}
			</if>
			<if test="age != null and age != ''">
				and age = #{age}
			</if>
			<if test="phone != null and phone != ''">
				and phone = #{phone}
			</if>
			<if test="userName != null and userName != ''">
				and user_name = #{userName}
			</if>
			<if test="password != null and password != ''">
				and password = #{password}
			</if>
			<if test="salaryGrade != null and salaryGrade != ''">
				and salary_grade = #{salaryGrade}
			</if>
			<if test="createTime != null and createTime != ''">
				and create_time = #{createTime}
			</if>
			<if test="updateTime != null and updateTime != ''">
				and update_time = #{updateTime}
			</if>
		</where>
	</delete>
</mapper>