<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8>
<meta name=viewport content="width=device-width,initial-scale=1">
<title>my-project</title>
<link href=/static/css/app.3db816c62141f62271dbabe5315161d7.css
	rel=stylesheet>
</head>
<body>
	<div id=app></div>
	<script type=text/javascript
		src=/static/js/manifest.2ae2e69a05c33dfc65f8.js></script>
	<script type=text/javascript
		src=/static/js/vendor.2420502e2b2c7f321d64.js></script>
	<script type=text/javascript src=/static/js/app.27fd071c68a59a962fc8.js></script>
</body>
</html>